@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Additional custom styles */
.bg-slate-750 {
  background-color: rgb(30, 41, 59, 0.5);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

/* Custom placeholder color */
::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
